<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>사업자 마이페이지</title>
</head>
<body>
	<form action="/logout" method="post">
		<button type="submit">로그아웃</button>
	</form>

	<!-- 환영 메시지 -->
	<h1>환영합니다, <span th:text="${company.id}">사용자</span>님</h1>

	<!-- 사업자 정보 표시 -->
	<p>아이디: <span th:text="${company.id}"></span></p>
	<p>회사명: <span th:text="${company.name}"></span></p>
	<p>이메일: <span th:text="${company.email}">이메일</span></p>
	<a href="/summit/changePassword"><button>비밀번호 변경</button></a>

</body>
</html>
