<!--상품 조회 html-->

<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>상품 조회창</title>
    </head>


    <body>
        <h2>상품 조회</h2>
        <br>


        <div th:if="${products == null or #lists.isEmpty(products)}">
            <p>등록된 상품이 없습니다.</p>
        </div>


        <table border="1" th:if="${products != null and !#lists.isEmpty(products)}">
            <thead>
                <tr>
                    <th>상품명</th>
                    <th>가격</th>
                    <th>개수</th>
                    <th>이미지</th>
                </tr>
            </thead>

            <tbody>
                <tr th:each="p : ${products}">
                    <td th:text="${p.productName}">상품명</td>
                    <td th:text="${p.price}">0</td>
                    <td th:text="${p.count}">0</td>
                    <td>
                    <img th:src="@{'/uploads/' + ${p.profilePath}}" alt="상품 이미지" width="80">
                    </td>
                </tr>
            </tbody>
        </table>

        <button onclick="location.href='/client/mypage'">마이페이지로</button>
    </body>
</html>

<!--
1. 최상단 선언부
    <html lang="ko" xmlns:th="http://www.thymeleaf.org">

    xmlns:th="http://www.thymeleaf.org는 타임리프 전용 속성 th:를 사용하기 위한 선언입니다.


2. table 태그
    1) 태그 설명

        <table> : 표(테이블)를 생성
            border="1": 표의 경계선 두께 지정 (1픽셀)

        <tr>    : 테이블의 한 행(row)

        <th>    : 테이블 헤더 셀 (굵게 표시됨)

        <td>    : 테이블 데이터 셀


    2) tbody 태그

        th:each="p : ${products}":  ==> 핵심은 th:each 속성
            - products 리스트를 하나씩 반복하면서 p라는 변수에 담아 사용

        1. 서버에서 전달된 products 리스트를 하나씩 반복(for-each) 돌면서 행을 만듦

        2. 상세 설명

            p는 각 상품(Product) 객체

            ${p.productName} → 상품 이름 출력

            ${p.price} → 가격 출력

            ${p.count} → 수량 출력

            <img th:src="@{'/uploads/' + ${p.profilePath}}"> 
            → 상품 이미지 파일 경로를 조합해서 출력


        3. 결론
        products 안에 3개의 상품이 있다면 <tr>도 3개가 자동 생성됩니다.


3. button 태그

    1. onclick="location.href='/index'"        
        - 버튼 클릭 시 지정된 URL로 이동
        - location.href는 현재 페이지의 URL을 변경하는 역할
        - '/index'는 이동할 목적지 URL
        - 즉, 이 버튼을 클릭하면 사용자는 /index 페이지로 이동합니다.

        

-->
